.container {
  display: flex;
}

.section {
  flex: 1;
  padding: 20px;
  margin: 10px;
}

.customTable {
  border-collapse: collapse;
  width: 100%;
}

.customTable th,
.customTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.customTable th {
  background-color: #f2f2f2;
}